# Compiled Object files
*.slo
*.lo
*.o
*.d

# Compiled binaries
code/rolling
code/debug/rolling

# Compiled Dynamic libraries
*.so
*.dylib

# Temporary files
.*#
*~

# Compiled Static libraries
*.lai
*.la
*.a
